<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pjjlt.easyfile.moudle.mapper.SysMenuMapper">

    <select id="getList" resultType="com.pjjlt.easyfile.moudle.entity.SysMenu">
        select sysMenu.*
        from sys_menu sysMenu
        left join sys_role_menu sysRoleMenu on sysMenu.id = sysRoleMenu.menu_id
        left join sys_role sysRole on sysRoleMenu.role_id = sysRole.id
        left join sys_user_role sysUserRole on sysRole.id = sysUserRole.role_id
        <where>
            <if test="userId != null">
                and sysUserRole.user_id = #{userId}
            </if>
            <if test="projectId != null">
                and sysUserRole.project_id = #{projectId}
            </if>
            <if test="menuName != null and menuName != ''">
                and sysMenu.menu_name  like CONCAT('%', trim(#{menuName}),'%')
            </if>
        </where>
    </select>


</mapper>